Pada klasifikasi ini saya menggunakan algoritma Naive Bayes, karena algoritma Naive Bayes memiliki beberapa kelebihan yaitu hanya memerlukan jumlah data sedikit yang dibutuhkan untuk klasifikasi, cepat, efisien, dan mudah untuk dibuat, dan kokoh pada atribut yang tidak relevan.

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import files
import io as io

In [4]:
#untuk mengupload file
upload_files = files.upload()
for filename in upload_files.keys():
 data = pd.read_csv(io.StringIO(upload_files[filename].decode('utf-8')), header=None)
print(data.head())

Saving used_cars.csv to used_cars.csv
    0           1   ...       24                   25
0  NaN          id  ...      lat                 long
1  0.0  7034441763  ...  40.7372  -111.85799999999999
2  1.0  7034440610  ...  40.5881             -111.884
3  2.0  7034440588  ...  40.5881             -111.884
4  3.0  7034440546  ...  40.5881             -111.884

[5 rows x 26 columns]

In [2]:
#untuk membaca file
df = pd.read_csv('used_cars.csv')

FileNotFoundError: ignored

In [0]:
#untuk mengambil kolom yang diinginkan dari dataset yang sudah ada
df = df[['price', 'fuel', 'odometer', 'long', 'transmission']]

In [28]:
# untuk mengecek apakah ada baris atau data yang kosong
df.isna().sum()
#untuk mendrop data yang kosong sehingga semua datanyanya tidak adayang kosong
df.dropna(inplace=True)

price           0
fuel            0
odometer        0
long            0
transmission    0
dtype: int64

In [50]:
df['price'].describe()

count    1.634200e+04
mean     2.034072e+04
std      9.657102e+05
min      0.000000e+00
25%      4.990000e+03
50%      9.991000e+03
75%      1.849900e+04
max      1.234568e+08
Name: price, dtype: float64

In [0]:
df2 = df[df['price'] > 3]

In [0]:
df2 = df2[['price', 'odometer', 'long', 'transmission']]

In [0]:
df2.info()

In [38]:
x  = df2.drop(['transmission'], axis = 1)
x.head()

   price  odometer     long
0  17899   63500.0 -111.858
2  46463    7554.0 -111.884
4  49999   70150.0 -104.694
5  13999  120057.0 -104.694
6  34500   95484.0 -104.694

In [39]:
y = df2['transmission']
y.head()

0       manual
2    automatic
4    automatic
5    automatic
6    automatic
Name: transmission, dtype: object

In [0]:
# untuk membagi data ke dalam data train dan data test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)

In [41]:
from sklearn.naive_bayes import GaussianNB
modelnb = GaussianNB()
nbtrain = modelnb.fit(x_train, y_train)
nbtrain.class_count_

array([10591.,   947.,   425.])

In [42]:
y_pred = nbtrain.predict(x_test)
y_pred

array(['manual', 'other', 'other', ..., 'other', 'other', 'automatic'],
      dtype='<U9')

In [43]:
from sklearn.metrics import accuracy_score
accuracy= accuracy_score(y_test, y_pred)
accuracy

0.1123370110330993

In [49]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

   automatic       0.86      0.03      0.05      2620
      manual       0.10      0.71      0.18       256
       other       0.08      0.75      0.14       115

    accuracy                           0.11      2991
   macro avg       0.35      0.49      0.12      2991
weighted avg       0.77      0.11      0.07      2991

Kesimpulan dari klasifikasi yang saya gunakan dengan algoritma Naive Bayes adalah dengan membandingkan nilai f1 dengan akurasi yang sudah dihitung maka, hasilnya nilai f1 lebih besar dibandingkan dengan nilai akurasinya, maka dengan begitu algoritma untuk klasifikasi ini terbukti akurat.